{
  "parser": "babel-eslint",
  "extends": ["prettier", "eslint:recommended", "plugin:react/recommended"],
  "plugins": ["babel", "import", "jsx-a11y"],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/prop-types": "off",
    "no-class-assign": "off",
    "linebreak-style": "off"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  }
}
